*{margin:0;padding:0}
html,body{height:100%;font-family:'Open Sans', sans-serif;overflow-x:hidden}

.page-element
{
	width:1349px;
	margin:0 auto;
}

.clear:before,.clear:after,.menu a:before,.menu a:after
{
    content:"";
    display:table;
}
.clear:after,.menu a:after {
    clear:both;
}
.body-content{height:100%;margin-bottom:-130px;width:80%;box-shadow:0 -2px 7px #000000;margin:0 auto}
.header
{
	/*width:60%;*/
	background:#444444;
	background:url(../image/header-background.png) repeat-x;
}
.header-top
{
	height:104px;
}
.header-content
{
	float:left;
	margin:0 auto;
	padding:22px 20px
}

.header-right {
  font-size: .95em;
  color: #fff;
}
.header-right a{
  color: #fcce77;
  text-decoration:none;
}

.header-right a:hover{
  color: #fcce77;
  text-decoration:underline;
}

.header-right .super {
  float: right;
  line-height: 1.8em;
  margin:3px 11px 0 0;
  font-size:13px;
}
.separator{
  padding: 0 6px;
  font-size:1.0em;
}
.middle-content{
	min-height:400px;
	margin:10px 21px;
}

.login-content
{
  margin:0 auto;
  height:395px;
  width:1080px;
  vertical-align:middle;
  display:table-cell;
}
.login-table
{
	border: 1px none rgb(235, 235, 235);
	box-shadow:0 0 6px #1172d2;
}
.login-input
{
	height:25px;
	border:1px solid #ccc;
	padding-left:10px;
}
.login-btn{width:75px;height:28px;background:none;border:1px solid rgba(0,0,0,0.25);margin-right:13px;cursor:pointer}
.login-btn:hover{background:#666666;color:#ffffff}
.login-form table td
{
	padding-left:3px;
}

.login_err
{
	color:#FF0000;
}
.send-client
{
	color:#00CC00;
}

.menu
{
	background:url(../image/navbg.gif) repeat-x 0 0;
	height:33px;
	font: 11px Verdana, Arial;
	color: #716f6c;
	margin: 0 0 0 0;
	padding: 18px 0 8px 0;
	text-align: center;
	clear: both;
}
.menu ul{padding:0;display:table;margin-left:21px;line-height:12px}
.menu li{list-style:none;float:left;margin-right:50px;}
.menu li:last-child{margin-right:0}
.menu li a{text-decoration:none;color:#000;font-size:13px}
.menu li a:active,
.menu li a:hover{text-decoration:underline}
#div-close {
  display: block;
}

#div-error-close
{display: block;}

.msg {
  position: relative;
  padding-right: 35px;
}

.msg p {
  font-size: 14px;
}

.msg-error
{
	padding:10px;
	color:#FF0000;
	background:#FED6CF;
	margin-bottom:10px;
}
.msg-ok
{
	padding:10px;
	color:#00CC00;
	background:#B4FEAB;
	margin-bottom:10px;
}

.box
{
	background: #fafafa;
	padding: 10px 15px;
  -moz-box-shadow: 0 0 6px #978f6c;
  -webkit-box-shadow: 0 0 6px #000;
}

.form-button-save {
  border-width: 1px;
  border-style: solid;
  border:1px solid rgba(0,0,0,0.25)
  padding: 1px 7px 2px 7px;
  background:#666666;
  cursor: pointer;
  text-align: center !important;
  white-space: nowrap;
  padding: 4px;
  margin-left: 8px;
  width:80px;
  color:#FFFFFF;
}

.form-button-a {
  border-width: 1px;
  border-style: solid;
  border:1px solid rgba(0,0,0,0.25)
  padding: 1px 7px 2px 7px;
  background:#666666;
  cursor: pointer;
  text-align: center !important;
  white-space: nowrap;
  padding: 4px 15px 4px 15px;
  margin-left: 8px;
  color:#FFFFFF;
  text-decoration:none;
  font-size:12px;
}

.form p {
  padding-bottom: 15px;
}

.form label {
  display: block;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 4px;
}
.field {
  border: solid 1px #d3cfc7;
  background: #fff;
  padding: 5px;
}
.size1 {
  width: 99%;
}

.footer{/*width:60%*/;margin:0 auto;padding:15px 0;border-top:2px solid #1579b5;line-height:20px}
.footer-title{padding-left:15px;color:#0f9adb;font-size:16px;}
.co-name
{
	margin-left:15px
}
.co-address
{
	margin-left:15px
}
.co-phone
{
	margin-left:15px
}
.co-email
{
	margin-left:15px
}
.footer-content{padding:0 15px;font-size:14px}
.footer-menu{float:left}
.footer-menu a{padding:0 10px;line-height:32px;text-decoration:none;color:#ffffff;font-size:12px;font-weight:400;border-right:1px solid #fff}
.footer-menu a:first-child{padding-left:0}
.footer-menu a:last-child{border:none}
.copyrights{width:100%;padding:10px 0;color:#ffffff;text-align:center;font-size:12px;line-height:12px}

.col-md-6 {
  width: 65%;
  float:left;
  margin:10px 0 0 0;
}
.state-overview {
  color: #000;
}

.col-xs-12.col-sm-6 {
  display: table;
  content: " ";
  width: 48%;
  float: left;
  margin-right: 10px;
}

.state-overview .purple {
  /*background: #6a8abe;*/
  border:1px solid #ccc;
  box-shadow: 0 5px 0 #5f7cab;
}
.state-overview .new-ticket
{
	width:25px;
	height:18px;
	box-shadow:0 0 2px #000;
	float:right;
	margin-right:8px;
	margin-top:10px;
}
.state-overview .new-ticket a
{
	text-align:center;
	text-decoration:none;
	margin-left:8px;
	font-size:14px;
}
.state-overview .panel {
  padding: 62px 40px;
}
.panel {
  border: none;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.state-overview .symbol {
  width: 35%;
}
.state-overview .symbol, .state-overview .state-value {
  display: inline-block;
}

.state-overview .symbol i {
  font-size: 40px;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-legal:before, .fa-gavel:before {
  content:url(../image/project_logo.png);
}

.state-overview .state-value {
  width: 62%;
}
.state-overview .symbol, .state-overview .state-value {
  display: inline-block;
}

.state-overview .state-value .value {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.state-overview .state-value .title {
  font-size: 14px;
}

.state-overview .red {
  /*background: #fc8675;*/
  border:1px solid #ccc;
  box-shadow: 0 5px 0 #e27869;
}

.fa-tags:before {
  content: url(../image/ticket.png);
}

.state-overview .blue {
  /*background: #5ab6df;*/
  border:1px solid #ccc;
  box-shadow: 0 5px 0 #51a3c8;
}

.fa-money:before {
  content: "\f0d6";
}

.state-overview .green {
  /*background: #4acacb;*/
  border:1px solid #ccc;
  box-shadow: 0 5px 0 #42b5b6;
}

.fa-eye:before {
  content: "\f06e";
}

.col-md-4 {
  width: 35%;
  float:left;
  margin-top:10px;
}

.green-box {
  /*background: none repeat scroll 0 0 #65cea7;*/
  border:1px solid #ccc;
  box-shadow: 0 5px 0 #5bb996;
  color: #000;
  height:377px;
}

/*.extra-pad {
  padding: 40px 40px;
}*/
.row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.knob {
  text-align: center;
  margin-bottom: 30px;
}
.percent {
  /*color: rgba(255, 255, 255, 0.7);*/
  color:#000000;
  display: inline-block;
  font-size: 25px;
  z-index: 2;
  width: 90px;
  /*padding-top: 35px;
  padding-left:28%;*/
  width:80%;
  height:122px;
  background:url(../image/loading.png) no-repeat 69px 4px;
  padding-top: 47px;
}
.percent .sm {
  font-size: 11px;
  display: block;
  padding-top: 12px;
}
canvas{
  display: inline-block;
  vertical-align: baseline;
}
table.tableListing {
  text-align: left;
  width: 100%;
}

table.tableListing {
  margin: 7px 0px 3px 0px;
}

table.tableListing a{
 color:#000000;
 text-decoration:none;
}

table.tableListing a:hover{
 text-decoration:underline;
}

table.tableListing thead tr th, table.tableListing tfoot tr th {
  border: 1px solid #dadfe0;
  padding: 4px 4px 4px 4px;
  background-color: #ebebeb;
  font-size: 13px;
  text-align: left;
}

table.tableListing thead tr th, table.tableListing tfoot tr th {
  white-space: nowrap;
}

.tab_th {
  background: #ebebeb url(../images/table_heading_bg.png);
}

table.tableListing tbody td {
  white-space: nowrap;
}

table.tableListing tbody td {
  vertical-align: top;
  border: 1px solid #dadfe0;
  padding: 3px 4px;
  font-size:14px;
}

.content-header {
  margin-bottom: 18px;
  border-bottom: 3px solid #dfdfdf;
  padding-bottom: .25em;
}

.content-header table {
  width: 100%;
}

.content-header h3 {
  float: left;
  margin: .3em .5em 0 0;
  color: #000;
  font-size: 16px;
  line-height: 1.2em;
}