<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="style/helpdesk.css" type="text/css" />
<title>ki-Helpdesk</title>
</head>

<body>
<div class="page-element">
 	<div class="body-content">
		<div class="header">
 		<div class="header-content">
 			<img src="image/ki-helpdesk.png" alt="Ki Helpdesk" />
		</div>
 	</div>
		<div class="menu">
		<ul>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Tasks</a></li>
			<li><a href="#">Ticket</a></li>
			<li><a href="#">Configuration</a></li>
		</ul>
	</div>
		<div class="middle-content">
			<div class="login-content">
			<div class="login-form">
				<p class="login-title">Login</p>
				<div class="login-form-content">
					<input type="text" placeholder="Email/Username" class="input"/><br />
					<input type="password" placeholder="Password" class="input"/><br />
					<div class="login-bottom">
						<input type="submit" name="loginbtn" value="Log In" class="login-btn">
						<a href="#">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="footer">
		<div class="footer-title"> > Developement Center</div>
		<div class="footer-content">
			<div class="co-name">Surat Developement Center</div>
			<div class="co-address">401, Meridian Tower, Nr. Rajkumar Theatre, Udhna Darwaja, Surat, Gujarat (INDIA) - 395002</div>
			<div class="co-phone">0261-6063344</div>
			<div class="co-email">kalikundinfotech@gmail.com</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>
